name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: elehobica/teensy40-docker:1.0.0
    strategy:
      matrix:
        env: [ST7735_128x160, ST7789_240x240, ILI9341_240x320]
    steps:
      - uses: actions/checkout@v4
      - name: Build (${{ matrix.env }})
        run: pio run -e ${{ matrix.env }}
      - name: Rename firmware
        run: cp .pio/build/${{ matrix.env }}/firmware.hex .pio/build/${{ matrix.env }}/firmware-${{ matrix.env }}.hex
      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ matrix.env }}.zip
          path: .pio/build/${{ matrix.env }}/firmware-${{ matrix.env }}.hex

  release-tag-condition:
    runs-on: ubuntu-latest
    outputs:
      matched: ${{ steps.check.outputs.matched }}
    steps:
      - name: Check if Release Tag Condition Matched
        id: check
        run: |
          if [[ ${{ github.ref_type }} == 'tag' && ${{ github.ref_name }} =~ ^v[0-9]+.[0-9]+.[0-9]+$ ]]; then
            echo "matched=true" >> $GITHUB_OUTPUT
            echo "Release tag condition matched"
          else
            echo "matched=false" >> $GITHUB_OUTPUT
            echo "Release tag condition not matched"
          fi

  call-upload-release-asset:
    needs: [build, release-tag-condition]
    if: ${{ needs.release-tag-condition.outputs.matched == 'true' }}
    uses: ./.github/workflows/upload-release-asset.yml
    with:
      source_run_id: ${{ github.run_id }}
      artifacts_dirs: "firmware-ST7735_128x160.zip firmware-ST7789_240x240.zip firmware-ILI9341_240x320.zip"
